<h3>Add this Book to my list:</h3>
<%= form_for @book do |f| %>
<%byebug%>
  <p>Book Title: <%= text_tag :show_titles_path%></p>
  <p>Book Author: <%= text_tag :show_authors_titles_path%></p>
  <p>Book Url: <%= image_tag :show_img_url%></p>
  <%= f.submit_tag 'Add' %>
<%end%>
<%= link_to 'Create Tags', new_tag_path %><br>
<%= link_to 'Back Homepage', books_path %>
