<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div id='wrapper'>
      <% if logged_in? %>
        <div id="header">
          <h1 class="welcome">Welcome back, <%= current_user.username %>!</h1>
          <%= link_to "Log out", '/logout', method: 'delete' %>
        </div>
      <% else %>
        <%= link_to "Please sign up", new_user_path %>
        <%= link_to "Please sign in", '/login' %>
      <% end %>
      <%= yield %>
    </div>
    <!-- end of wrapper -->
  </body>
</html>
